<ion-view view-title="Places">
  <ion-content>
    <ion-list>
      <a class="item item-icon-left item-icon-right" ng-repeat="place in places" type="item-text-wrap" href="#/tab/places/{{place.id}}">
        <i class="icon {{venue2iconName(place.venueTypes[0])}}"></i>
        <h2>{{place.name}}</h2>
        <p>{{place.venueTypes[0]}}</p>
        <p>Icon name: {{venue2iconName(place.venueTypes[0])}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-option-button class="button-assertive" ng-click="remove(place)">
          Delete
        </ion-option-button> -->    
      </a>

    </ion-list>
  </ion-content>

</ion-view>
